[Desktop Entry]
Comment=Simple serverless LAN chat
Exec=qtchat
GenericName=LAN chat
GenericName[fr]=Chat local
Icon=qtchat
Name[fr]=QtChat
Name=QtChat
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
Categories=Network;Qt;
